body{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

}
.game-body{
    display: flex;
    background-color: green;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 800px;
    color: white;
    border: white solid 3px;
    border-radius: 10px;
}

.game-table{
    display: flex;
    flex-direction: column;
    background-color: green;
    border: white solid 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
   

}
.header{
    align-items: center;
    justify-content: center;
    font-size: 70px;
}
h2{
    margin: 0;
    
}
.options{
    padding-top: 60px;
}

.player-count{
    display: flex;
    flex-direction: row;
    margin: 0px;
}
p{
    margin: 0;
}
/* .score-container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
} */
#playerValue, #dealerValue{
    color: gold;
}
#condition{
   margin-top: 10px;
   font-weight: bold;
   font-size: 50px;
   color: #800000;
}

.button{
    width: 100px;
    height: 50px;
    background: none;
    border: 4px solid white;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.button:hover{
    border: 4px solid #C0C0C0;
    color: gold;
}